@model Web.Models.DON_HANG

@{
    ViewBag.Title = "Xóa Đơn Hàng";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container mt-4">
    <h2>Xóa Đơn Hàng</h2>
    <h3>Bạn có chắc chắn muốn xóa đơn hàng này không?</h3>
    <div class="card">
        <div class="card-header">
            Thông tin Đơn Hàng
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Ngaylap)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Ngaylap)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Tongtien)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Tongtien)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.KHACH_HANG.Ho_ten)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.KHACH_HANG.Ho_ten)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions mt-3">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                    @Html.ActionLink("Quay lại Danh sách", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
